---
import ThreeMotion from "../components/ThreeMotion.jsx";
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Astro + React + Three + Framer Motion</title>
    </head>
    <body>
        <main>
            <h1>Astro + React + Three.js + Framer Motion</h1>
            <ThreeMotion client:load />
        </main>
    </body>
</html>
